.anime {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.loader {
    position: relative;
    cursor: default;
    -webkit-box-reflect:below -25px linear-gradient(transparent,
    #0005);
}

.loader span {
    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: 1px #fff9;
    text-transform: uppercase;
    font-weight: 800;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.15s * var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(0px);
        color: transparent;
        text-shadow: none;
    }

    20% {
        transform: translateY(-60px);
        color: #14e956;
        text-shadow: 
            0 0 5px #14e956,
            0 0 25px #14e956,
            0 0 50px #14e956;
    }

    40%, 100% {
        transform: translateY(0px);
        color: transparent;
        text-shadow: none;
    }
}


}


.css-eglki6-MuiLinearProgress-root {
    height: 5px !important;
    background-color: #e8fdee !important;
    border-radius: 5px !important;
    @media (min-width: 480px) and (max-width: 759px) {
        height: 5px !important;
    }
    @media (max-width: 479px) {
        height: 5px !important;
    }
}

.css-5xe99f-MuiLinearProgress-bar1 {
    background-color: #14e956 !important;
}

.css-1kjyx0o-MuiTypography-root {
    margin-top: 2rem !important;
    font-family: "ExoSpace" !important;
    font-weight: 900 !important;
    font-size: 2rem !important;
    line-height: 1.43;
    @media (min-width: 480px) and (max-width: 759px) {
        font-size: 1.5rem !important;
        line-height: 1.15 !important;
    }
    @media (max-width: 479px) {
        font-size: 1.5rem !important;
        line-height: 1 !important;
    }
}

.css-7p5u54 {
    height: 5px !important;
    background-color: #e8fdee !important;
    border-radius: 5px !important;
    @media (min-width: 480px) and (max-width: 759px) {
        height: 5px !important;
    }
    @media (max-width: 479px) {
        height: 5px !important;
    }
}

.css-t752vm {
    background-color: #14e956 !important;
}

.css-16e5s8c {
    margin-top: 2rem !important;
    // font-family: "Cyborg" !important;
    font-family: "ExoSpace" !important;
    font-weight: 900 !important;
    font-size: 2rem !important;
    line-height: 1.43;
    @media (min-width: 480px) and (max-width: 759px) {
        font-size: 1.5rem !important;
        line-height: 1.15 !important;
    }
    @media (max-width: 479px) {
        font-size: 1.5rem !important;
        line-height: 1 !important;
    }
}


@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #14e956;
    }
}

@keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }